<mat-form-field>
  <mat-label>Working Staff</mat-label>
    <mat-select >
    <mat-option value="10k">test1</mat-option>
    <mat-option value="15k!">test2</mat-option>
    <mat-option value="labanlang!">test3</mat-option>
  </mat-select>
</mat-form-field> 

<mat-form-field>
  <mat-label>Location</mat-label>
    <mat-select >
    <mat-option value="10k">test1</mat-option>
    <mat-option value="15k!">test2</mat-option>
    <mat-option value="labanlang!">test3</mat-option>
  </mat-select>
</mat-form-field> 


<!-- date picker compose of text input and calendar pop-up-->
<mat-form-field>
  <mat-label ></mat-label>
	<input matInput [matDatepicker]="myDatePicker" >
	<mat-datepicker-toggle [for]="myDatePicker" matSuffix ></mat-datepicker-toggle><!--icon that open calendar pop-up-->
  <mat-datepicker #myDatePicker ></mat-datepicker><!--date picker component-->
</mat-form-field> 

<button mat-raised-button>Today</button>
<button mat-raised-button>Day </button>
<button mat-raised-button>Day </button>



